
<div class="wrapper">
	<h1>reCAPTCHA v3 Demo</h1>
	<hr/>

	<form id="reactive" action="/reactive.html" method="post" class="ajax">
		<div class="input-group">
			<label for="correo" class="required">E-Mail</label>
			<input type="text" id="correo" name="correo" value="<%=correo%>" size="40" maxlength="200" tabindex="2" 
				class="input-item input-control clearable" title="Type your email" placeholder="xxxx@yyyy.com" />
			<i class="input-item input-icon far fa-envelope"></i>
			<div class="msg-error"><%=msgs.correo%></div>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary captcha" tabindex="100"><%=i18n.lblEnviar%> <i class="far fa-paper-plane"></i></button>
	</form>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LeDFNMZAAAAAKssrm7yGbifVaQiy1jwfN8zECZZ"></script>
