
<div class="my-4 text-center">
    <div class="inline-block px-2">
        <a href="#prev-tab" tabindex="101"
            class="inline-block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            <i class="fas fa-angle-double-left mr-2"></i>Volver
        </a>
        <button type="submit" tabindex="102" 
            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            <i class="fas fa-save mr-2"></i>Save</button>
        <button type="button" tabindex="103"
            class="clone-item focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            <i class="far fa-copy mr-2"></i></i>Clone</button>
        <button type="reset" tabindex="104"
            class="text-gray-900 bg-white focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 ml-1 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
            <i class="fas fa-brush mr-2"></i>Clear</i></button>
        <button type="button" tabindex="105"
            class="remove-item focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-1 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
            <i class="fas fa-solid fa-trash mr-2"></i> Borrar</button>
    </div>
    <div class="update-only inline-block border-l-2 pl-1 border-blue-500">
        <button type="button" tabindex="106"
            class="first-item text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            <i class="fas fa-angle-double-left"></i></button>
        <button type="button" tabindex="107"
            class="prev-item text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            <i class="fas fa-angle-left"></i></button>
        <button type="button" tabindex="108"
            class="next-item text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            <i class="fas fa-angle-right"></i></button>
        <button type="button" tabindex="109"
            class="last-item text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            <i class="fas fa-angle-double-right"></i></button>
    </div>
</div>
