
<div class="my-4 text-center">
    <div class="inline-block px-2">
        <a href="#prev-tab" tabindex="101" class="btn btn-primary"><i class="fas fa-angle-double-left mr-2"></i>Volver</a>
        <button type="submit" tabindex="102" class="btn btn-green"><i class="fas fa-save mr-2"></i>Save</button>
        <button type="button" tabindex="103" class="clone-item btn btn-green"><i class="far fa-copy mr-2"></i></i>Clone</button>
        <button type="reset" tabindex="104" class="btn btn-secondary"><i class="fas fa-brush mr-2"></i>Clear</i></button>
        <button type="button" tabindex="105" class="remove-item btn btn-danger"><i class="fas fa-solid fa-trash mr-2"></i> Borrar</button>
    </div>
    <div class="update-only inline-block border-l-2 pl-1 border-blue-500">
        <button type="button" tabindex="106" class="first-item btn btn-primary"><i class="fas fa-angle-double-left"></i></button>
        <button type="button" tabindex="107" class="prev-item btn btn-primary"><i class="fas fa-angle-left"></i></button>
        <button type="button" tabindex="108" class="next-item btn btn-primary"><i class="fas fa-angle-right"></i></button>
        <button type="button" tabindex="109" class="last-item btn btn-primary"><i class="fas fa-angle-double-right"></i></button>
    </div>
</div>
