
<div class="flex grow flex-col m-2">
    <label for="<%=id%>" class="block mb-1 required">Clave:</label>
    <div class="relative flex w-full flex-wrap items-stretch mb-3">
        <span class="ui-l-icon flex items-center pl-3 pointer-events-none">
            <i class="fas fa-lock"></i>
        </span>
        <input type="password" id="<%=id%>" name="<%=name%>" maxlength="100" tabindex="<%=tabindex%>" placeholder="**********" class="ui-input pl-9"/>
        <p class="ui-errtip"></p>
    </div>
</div>
