
<div class="m-auto w-96">
    <label for="<%=id%>" class="block mb-1 text-sm text-gray-900 dark:text-white required">Clave:</label>
    <div class="relative flex w-full flex-wrap items-stretch mb-3">
        <span class="z-10 h-full leading-snug font-normal absolute text-center bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
            <i class="fas fa-lock"></i>
        </span>
        <input type="password" id="<%=id%>" name="<%=name%>" maxlength="100" tabindex="<%=tabindex%>" placeholder="**********"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-300 focus:border-blue-300 block w-full pl-9 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-300 dark:focus:border-blue-300"/>
        <p class="ui-errtip text-red-500 text-xs italic"></p>
    </div>
</div>
