<!DOCTYPE html>
<html>
<head>
	<base href="../../">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IRSE</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="public/js/uae-min.js"></script>
	<script type="text/javascript" src="public/js/uae/irse-min.js"></script>
</head>
<body>
	<h1>Banco de pruebas IRSE</h1>
</body>
</html>
