<!DOCTYPE html>
<html>
<head>
	<base href="../../">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TTPP</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="public/js/uae/ttpp-box.min.js"></script>
	<script type="text/javascript" src="public/js/uae/rules-factory.js"></script>
	<script type="text/javascript" src="public/js/uae-min.js"></script>
</head>
<body>
	<h1>Extractos Bancarios</h1>

	<label for="banco">Extracto Bancario</label><br>
	<input type="file" id="banco" name="banco">

	<script type="text/javascript">
		const reader = new FileReader();
		reader.onload = function(ev) {
			console.log(rf.parse(ev.target.result).get("n57"));
		}

		document.addEventListener("DOMContentLoaded", () => {
			var el = document.querySelector("#banco");
			el.addEventListener("change", (ev) => {
				let file = el.files && el.files[0];
				file && reader.readAsText(file, "UTF-8");
			});
		});
	</script>
</body>
</html>
