
<div class="wrapper">
	<div>
		<h1><%=i18n["lblBienvenido"]%></h1>
		<hr/>

		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/login.html">Login</a></li>
			<li><a href="/signup.html">Sign Up</a></li>
			<li><a href="/reactive.html">Reactive</a></li>
			<li><a href="/contact.html">Contact</a></li>
			<li><a href="/tests">tests</a></li>
		</ul>
	</div>
</div>
