
<div class="wrapper">
	<div>
		<h1>Tests menu</h1>
		<hr/>

		<p class="text-block alert-primary">
			<b>Info:</b> <span>Area de pruebas</span>
		</p>

		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/login.html">login</a></li>
			<li><a href="/tests/email.html">email</a></li>
			<li><a href="/tests/files.html">files</a></li>
		</ul>

		<br/>
		<p>
			<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, dolorum, veritatis tenetur ea dolor quo consequuntur ullam molestias fugit quam.</span>
			<a href="#" class="show-info">Más Info <i class="fas fa-angle-double-down"></i></a><br/>
			<span class="extra-info hide">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Corrupti rem aut, minus asperiores, sunt eligendi hic ipsum maiores itaque numquam sequi eius voluptates consequuntur debitis impedit quae dolore ad, enim?</span>
		</p>
	</div>
</div>
