
<div class="wrapper">
	<div>
		<h1>Tests menu</h1>
		<hr/>

		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/login.html">login</a></li>
			<li><a href="/tests/email.html">email</a></li>
			<li><a href="/tests/files.html">files</a></li>
		</ul>
	</div>
</div>
