<!-- progressbar -->
<ul id="progressbar">
	<li id="step-0" class="active">Home</li>
	<li id="step-1">Messages</li>
	<li id="step-2">Tables</li>
	<li id="step-3">Forms</li>
	<li id="step-4">Resume</li>
</ul>

<div id="tab-0" class="tab-content active">
	<div class="alert active alert-primary">
		<div><i class="fas fa-volume-up"></i></div>
		<div><b>Info:</b> <span>Area de pruebas</span></div>
	</div>
	<div class="alert active alert-note">
		<div><i class="fas fa-bell"></i></div>
		<div><b>Note:</b> <span>Area de pruebas</span></div>
	</div>
	<div class="alert active alert-secondary">
		<div><i class="fas fa-exclamation-circle"></i></div>
		<div><b>Secondary:</b> <span>Area de pruebas</span></div>
	</div>
	<div class="alert active alert-warn">
		<div><i class="fas fa-exclamation-triangle"></i></div>
		<div>
			<b>Warn:</b> <span>Area de pruebas</span>
			<p><b>Extra info:</b> añkjfdsaldñlka fjasñlkadjf asñlk adñlkajf asñlkdsfdjk aslsñlkadfkjk asñsdñlkafjlk asñldkfdjk aksldjf alskfdj asñlkdsfdjk aslsñlkadfkjk asñsdñlkafjlk asñldkfdjk aksldjf alskfdj</p>
		</div>
	</div>
	<div class="alert active alert-error">
		<div><i class="fas fa-exclamation-triangle"></i></div>
		<div><b>Error:</b> <span>Area de pruebas</span></div>
	</div>
	<div class="alert active alert-danger">
		<div><i class="fas fa-exclamation-triangle"></i></div>
		<div><b>Danger:</b> <span>Area de pruebas</span></div>
	</div>
	<div class="alert active alert-dark">
		<div><i class="fas fa-exclamation-triangle"></i></div>
		<div><b>Dark:</b> <span>Area de pruebas</span></div>
	</div>

	<div class="text-block alert-primary">
		<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, dolorum, veritatis tenetur ea dolor quo consequuntur ullam molestias fugit quam.</span>
		<a id="test" href="#" class="toggle-angle">Más Info <i class="fas fa-angle-double-down"></i></a>
		<span class="info-test hide"><hr/>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Corrupti rem aut, minus asperiores, sunt eligendi hic ipsum maiores itaque numquam sequi eius voluptates consequuntur debitis impedit quae dolore ad, enim?</span>
	</div>
</div>

<div id="tab-1" class="tab-content">
	<div class="cards-glass">
		<div class="card-glass">
			<h2>Card 1</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aliquam commodi earum, ducimus impedit, quo minus veniam error vel itaque aperiam id ipsa dolor totam inventore reprehenderit eius debitis quis!</p>
		</div>
		<div class="card-glass">
			<h2>Card 2</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aliquam commodi earum, ducimus impedit, quo minus veniam error vel itaque aperiam id ipsa dolor totam inventore reprehenderit eius debitis quis!</p>
		</div>
		<div class="card-glass">
			<h2>Card 3</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aliquam commodi earum, ducimus impedit, quo minus veniam error vel itaque aperiam id ipsa dolor totam inventore reprehenderit eius debitis quis!</p>
		</div>
	</div>
</div>

<div id="tab-2" class="tab-content">
	<table id="pruebas" data-sort-by="c2" data-sort-dir="desc" data-page-size="1" data-total="50">
		<thead>
			<tr>
				<th>C1<a href="#" class="sort sort-none sort-c1"></a></th>
				<th>C2<a href="#" class="sort sort-none sort-c2"></a></th>
				<th>C3<a href="#" class="sort sort-none sort-c3"></a></th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody id="pruebas-row">
			<tr class="tb-data">
				<td><a id="1" href="#find">@name;</a></td>
				<td>F@count; - C2</td>
				<td>F@count; - C3</td>
				<td class="text-center">
					<a id="1" href="#select"><i class="fas fa-search icon"></i></a>
					<a id="1" href="#remove"><i class="fa fa-times icon text-err"></i></a>
				</td>
			</tr>
			<tr class="tb-data">
				<td><a id="2" href="#find">@name;</a></td>
				<td>F@count; - C2</td>
				<td>F@count; - C3</td>
				<td class="text-center">
					<a id="2" href="#select"><i class="fas fa-search icon"></i></a>
					<a id="2" href="#remove"><i class="fa fa-times icon text-err"></i></a>
				</td>
			</tr>
		</tbody>
		<tbody class="no-data">
			<tr><td colspan="4"><p>No hay coincidencias a mostrar en la tabla</p></td></tr>
		</tbody>
		<tfoot data-tpl="pruebas-footer">
			<tr><td colspan="4">Filas: 2 / 3</td></tr>
		</tfoot>
	</table>
	<div class="pagination"></div>

	<!-- pruebas templates -->
	<template id="pruebas-row">
		<tr class="tb-data">
			<td><a id="1" href="#find">@name;</a></td>
			<td>F@count; - C2</td>
			<td>F@count; - C3</td>
			<td class="text-center">
				<a href="#select"><i class="fas fa-search icon"></i></a>
				<a href="#remove"><i class="fa fa-times icon text-err"></i></a>
			</td>
		</tr>
	</template>
	<template id="pruebas-footer">
		<tr><td colspan="4">Filas: @size; / @total;</td></tr>
	</template>
</div>

<div id="tab-3" class="tab-content">
	<div>
		<a href="#prev-item">prev</a>
		<a href="#next-item">next</a>
	</div>

	<form id="test">
	<div class="navbar">
		<div class="input-items input-control-block">
			<label for="name" class="required">Nombre:</label>
			<input type="text" id="name" name="name" value="" />
		</div>
		<div class="input-items input-control-block">
			<label for="entidad" class="required">Entidades:</label>
			<select id="entidad">
				<option value="">Seleccione una entidad ...</option>
				<option id="entidades" value="@key;">@value;</option>
			</select>
		</div>
	</div>
	</form>
</div>

<div class="navbar">
	<a href="#tab-0" class="btn btn-primary hide"><i class="fas fa-angle-double-left"></i>&nbsp;</a>
	<a href="#prev-tab" class="btn btn-primary"><i class="fas fa-angle-double-left icon"></i>Prev.</a>
	<a href="#save-tab" class="btn btn-success"><i class="fas fa-save icon"></i>Save</a>
	<a href="#next-tab" class="btn btn-primary">Sig.<i class="fas fa-angle-double-right icon"></i></a>
	<a href="#last-tab" class="btn btn-primary">&nbsp;<i class="fas fa-angle-double-right"></i></a>
	<br/>
	<a href="loading" class="btn btn-primary">Loading <i class="fas fa-spinner fa-spin icon"></i></a>
</div>

<div>
	<ul class="tags">
		<li>asdfasd asdf</li>
		<li>asdfa sdf</li>
	</ul>
</div>

<script type="text/javascript">
	dom.ready(function() {
		const table = dom.getTable("#pruebas");
		const data = [{id:1,name:"Row 1"}, {id:2,name:"Row 2"}, {id:3,name:"Row 3"}];
		const resume = { total: 50 };
		let row, index;

		function fnLoad(i) {
			index = i; // save current item-index
			row = data[index]; // current item
			return dom.setValueInput("#name", row.name);
		}
		dom.onChangeInput("#name", el => { row.name = el.value; })
			.parse("#entidades", tpl => sb.entries(valid.getEntidades(), tpl))
			.onSaveTab(3, () => dom.renderTable(table, data, resume).viewTab(2));

		dom.loadTemplates()
			.renderTable(table, data, resume)
			.onExitTab(() => console.log("exit tabs"))
			.onChangeTab(1, () => console.log("change tab-1"))
			.onFindRow("#pruebas", (table, ev) => console.log("find", ev.detail))
			.onSelectRow("#pruebas", (table, ev) => !fnLoad(ev.detail).viewTab(3))
			.onRemoveRow("#pruebas", (table, ev) => dom.renderRows(table, data, resume))
			.onChangeTable("#pruebas", (table, ev) => console.log("change"))
			.onPaginationTable("#pruebas", (table, ev) => console.log("pagination", ev.detail))
			.click(dom.get(".sort-name", table), el => { // Sort by name
				resume.sort = (a, b) => sb.cmp(a.name, b.name);
				dom.sortTable("#pruebas", data, resume);
			});

		dom.onClickElem("a[href='#first-item']", el => !fnLoad(0));
		dom.onClickElem("a[href='#prev-item']", el => !fnLoad(nb.dec(index)));
		dom.onClickElem("a[href='#next-item']", el => !fnLoad(nb.inc(index, data.length - 1)));
		dom.onClickElem("a[href='#last-item']", el => !fnLoad(data.length - 1));

		dom.onclick("a[href='show-first']", el => {
			resume.total++;
			data.push({id:4});
			dom.renderTable(table, data, resume);

			const alert = dom.get("div.alert");
			dom.show(alert).animate("fadeIn", alert);
		});
		dom.onclick("a[href='close-first']", el => {
			const alert = dom.get("div.alert");
			dom.animate("fadeOut", alert).then(el => dom.hide(el));
		});

		dom.onclick("a[href='loading']", el => {
			setTimeout(dom.loading().working, 500);
		});
	});
</script>
