
<div class="wrapper">
	<div>
		<h1>Tests menu</h1>
		<hr/>

		<div class="alert active alert-primary">
			<div><i class="fas fa-volume-up"></i></div>
			<div><b>Info:</b> <span>Area de pruebas</span></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert active alert-note">
			<div><i class="fas fa-bell"></i></div>
			<div><b>Note:</b> <span>Area de pruebas</span></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert active alert-secondary">
			<div><i class="fas fa-exclamation-circle"></i></div>
			<div><b>Secondary:</b> <span>Area de pruebas</span></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert active alert-warn">
			<div><i class="fas fa-exclamation-triangle"></i></div>
			<div>
				<b>Warn:</b> <span>Area de pruebas</span>
				<p><b>Extra info:</b> añkjfdsaldñlka fjasñlkadjf asñlk adñlkajf asñlkdsfdjk aslsñlkadfkjk asñsdñlkafjlk asñldkfdjk aksldjf alskfdj asñlkdsfdjk aslsñlkadfkjk asñsdñlkafjlk asñldkfdjk aksldjf alskfdj</p>
			</div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert active alert-error">
			<div><i class="fas fa-exclamation-triangle"></i></div>
			<div><b>Error:</b> <span>Area de pruebas</span></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert active alert-danger">
			<div><i class="fas fa-exclamation-triangle"></i></div>
			<div><b>Danger:</b> <span>Area de pruebas</span></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert active alert-dark">
			<div><i class="fas fa-exclamation-triangle"></i></div>
			<div><b>Dark:</b> <span>Area de pruebas</span></div>
			<div class="alert-close">&times;</div>
		</div>

		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/login.html">login</a></li>
			<li><a href="/tests/email.html">email</a></li>
			<li><a href="/tests/files.html">files</a></li>
		</ul>

		<br/>
		<div class="text-block alert-primary">
			<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, dolorum, veritatis tenetur ea dolor quo consequuntur ullam molestias fugit quam.</span>
			<a href="#" class="show-info">Más Info <i class="fas fa-angle-double-down"></i></a><br/>
			<span class="extra-info hide">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Corrupti rem aut, minus asperiores, sunt eligendi hic ipsum maiores itaque numquam sequi eius voluptates consequuntur debitis impedit quae dolore ad, enim?</span>
		</div>
	</div>
</div>
