
<div class="wrapper">
	<div class="container">
		<h1><%=i18n.err404%></h1>
		<hr>

		<img src="/public/img/png/link_delete.png" class="float-left hide-phone" title="<%=i18n.err404%>" /> 
		<p>El enlace requerido no ha sido localizado en este servidor. Si usted proporcion&oacute; el enlace de manera manual, le rogamos que revise los datos e intentelo de nuevo.</p>
		<p>Por favor disculpe las molestias, y reciba un cordial saludo desde @lblEmpresaNombre;.</p>
	</div>
</div>
