<html lang="es">
<head>
	<base href="../">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CSS Document</title>

	<!-- google fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap">

	<!-- CSS Styles -->
	<link rel="stylesheet" href="public/css/styles.min.css">

	<!-- JS Scripts -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://kit.fontawesome.com/76f12cea70.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="public/js/lib-min.js"></script>
</head>
<body>
	<nav>
	<ul class="menu-phone">
		<li><a href="#" class="d-phone sidebar-toggle" title="Show/hide left menu"><i class="fas fa-bars nav-icon"></i>Left Menu</a></li>
	</ul>
	<ul class="menu hide">
		<li data-orden="0"><a href="#" class="d-phone sidebar-toggle" title="Show/hide left menu"><i class="fas fa-arrow-left nav-icon"></i>Left Menu</a></li>
		<li id="16" data-padre="4"><a href="#" title="Sub Nav Link 11">Sub Nav Link 11</a></li>
		<li id="17" data-padre="4"><a href="#" title="Sub Nav Link 12">Sub Nav Link 12</a></li>
		<li id="1"><a href="index.html" title="Nav Link 1"><i class="fas fa-home nav-icon"></i>Inicio</a></li>
		<li id="2"><a href="#" title="Nav Link 1"><i class="fas fa-euro-sign nav-icon"></i>Ingresos</a>
		<li id="3" data-padre="2"><a href="#" title="Sub Nav Link 1">Sub Nav Link 1</a></li>
		<li id="4" data-padre="2"><a href="#" title="Sub Nav Link 2">Sub Nav Link 2</a></li>
		<li id="5" data-padre="2" data-mask="0"><a href="#" title="Sub Nav Link 3">Sub Nav Link 3</a></li>
		<li id="6" data-padre="2"><a href="#" title="Sub Nav Link 4">Sub Nav Link 4</a></li>
		<li id="7" data-padre="2"><a href="#" title="Sub Nav Link 5">Sub Nav Link 5</a></li>
		<li id="8" data-mask="0"><a href="#" title="Nav Link 1">Nav Link 3</a></li>
		<li id="11" data-padre="8"><a href="#" title="Sub Nav Link 6">Sub Nav Link 6</a></li>
		<li id="12"><a href="#" title="Sub Nav Link 7">Sub Nav Link 7</a></li>
		<li id="9"><a href="#" title="Nav Link 1">Nav Link 4</a></li>
		<li id="10"><a href="#" title="Nav Link 1"><i class="fas fa-address-card nav-icon"></i>About</a></li>
		<li id="13" data-padre="12"><a href="#" title="Sub Nav Link 8">Sub Nav Link 8</a></li>
		<li id="14" data-padre="12"><a href="#" title="Sub Nav Link 9">Sub Nav Link 9</a></li>
		<li id="15" data-padre="12"><a href="#" title="Sub Nav Link 10">Sub Nav Link 10</a></li>
	</ul>
	</nav>

	<main>
		<!-- progressbar -->
		<ul id="progressbar">
			<li id="step-0" class="active">Home</li>
			<li id="step-1">Messages</li>
			<li id="step-2">Tables</li>
			<li id="step-3">Forms</li>
			<li id="step-4">Resume</li>
		</ul>

		<div id="tab-0" class="tab-content active">
			<div class="alert active alert-primary">
				<div><i class="fas fa-volume-up"></i></div>
				<div><b>Info:</b> <span>Area de pruebas</span></div>
			</div>
			<div class="alert active alert-note">
				<div><i class="fas fa-bell"></i></div>
				<div><b>Note:</b> <span>Area de pruebas</span></div>
			</div>
			<div class="alert active alert-secondary">
				<div><i class="fas fa-exclamation-circle"></i></div>
				<div><b>Secondary:</b> <span>Area de pruebas</span></div>
			</div>
			<div class="alert active alert-warn">
				<div><i class="fas fa-exclamation-triangle"></i></div>
				<div>
					<b>Warn:</b> <span>Area de pruebas</span>
					<p><b>Extra info:</b> añkjfdsaldñlka fjasñlkadjf asñlk adñlkajf asñlkdsfdjk aslsñlkadfkjk asñsdñlkafjlk asñldkfdjk aksldjf alskfdj asñlkdsfdjk aslsñlkadfkjk asñsdñlkafjlk asñldkfdjk aksldjf alskfdj</p>
				</div>
			</div>
			<div class="alert active alert-error">
				<div><i class="fas fa-exclamation-triangle"></i></div>
				<div><b>Error:</b> <span>Area de pruebas</span></div>
			</div>
			<div class="alert active alert-danger">
				<div><i class="fas fa-exclamation-triangle"></i></div>
				<div><b>Danger:</b> <span>Area de pruebas</span></div>
			</div>
			<div class="alert active alert-dark">
				<div><i class="fas fa-exclamation-triangle"></i></div>
				<div><b>Dark:</b> <span>Area de pruebas</span></div>
			</div>

			<div class="text-block alert-primary">
				<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, dolorum, veritatis tenetur ea dolor quo consequuntur ullam molestias fugit quam.</span>
				<a id="test" href="#toggle" data-icon="fa-angle-double-down fa-angle-double-up">Más Info <i class="fas fa-angle-double-down"></i></a>
				<span class="info-test hide"><hr/>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Corrupti rem aut, minus asperiores, sunt eligendi hic ipsum maiores itaque numquam sequi eius voluptates consequuntur debitis impedit quae dolore ad, enim?</span>
			</div>

			<div class="navbar">
				<ul class="tags">
					<li>asdfasd asdf</li>
					<li>asdfa sdf</li>
				</ul>
			</div><br/>

			<div class="navbar">
				<a href="#next-tab" class="btn btn-primary">Sig.<i class="fas fa-angle-double-right icon"></i></a>
				<a href="#tab-2" class="btn btn-primary">&nbsp;<i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>

		<div id="tab-1" class="tab-content">
			<div class="cards-glass">
				<div class="card-glass">
					<h2>Card 1</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aliquam commodi earum, ducimus impedit, quo minus veniam error vel itaque aperiam id ipsa dolor totam inventore reprehenderit eius debitis quis!</p>
				</div>
				<div class="card-glass">
					<h2>Card 2</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aliquam commodi earum, ducimus impedit, quo minus veniam error vel itaque aperiam id ipsa dolor totam inventore reprehenderit eius debitis quis!</p>
				</div>
				<div class="card-glass">
					<h2>Card 3</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aliquam commodi earum, ducimus impedit, quo minus veniam error vel itaque aperiam id ipsa dolor totam inventore reprehenderit eius debitis quis!</p>
				</div>
			</div>

			<div class="navbar">
				<a href="#tab-0" class="btn btn-primary hide"><i class="fas fa-angle-double-left"></i>&nbsp;</a>
				<a href="#prev-tab" class="btn btn-primary"><i class="fas fa-angle-double-left icon"></i>Prev.</a>
				<a href="#next-tab" class="btn btn-primary">Sig.<i class="fas fa-angle-double-right icon"></i></a>
				<a href="#tab-2" class="btn btn-primary">&nbsp;<i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>

		<div id="tab-2" class="tab-content">
			<form id="filter" action="filter">
				<div class="navbar">
					<div class="ui-group ui-block">
						<label for="filter-name" class="required">Nombre:</label>
						<input type="text" id="filter-name" name="name" value="" class="ui-item ui-control ui-text" tabindex="1" />
					</div>
					<div class="ui-group ui-block">
						<label for="filter-memo" class="required">Memoria:</label>
						<input type="text" id="filter-memo" name="memo" value="" class="ui-item ui-control ui-text" tabindex="2"/>
					</div>
					<div class="ui-group ui-block">
						<label for="imp1" class="required">Importe:</label>
						<input type="text" id="imp1" name="imp1" value="" class="ui-item ui-control ui-float" tabindex="3" />...
						<input type="text" id="imp2" name="imp2" value="" class="ui-item ui-control ui-float" tabindex="4" />
					</div>
					<div class="ui-group ui-block">
						<label for="f1" class="required">Fecha:</label>
						<input type="date" id="f1" name="f1" value="" class="ui-item ui-control ui-date" tabindex="5" />...
						<input type="date" id="f2" name="f2" value="" class="ui-item ui-control ui-date" tabindex="6" />
					</div>
				</div>

				<div class="navbar">
					<a href="#tab-0" tabindex="100" class="btn btn-primary"><i class="fas fa-angle-double-left"></i>&nbsp;</a>
					<a href="#prev-tab" tabindex="101" class="btn btn-primary"><i class="fas fa-angle-double-left icon"></i>Prev.</a>
					<button type="reset" class="btn btn-light" tabindex="102">Limpiar <i class="fas fa-solid fa-broom"></i></button>
					<button type="submit" class="btn btn-primary" tabindex="103">Buscar <i class="fas fa-search icon"></i></button>
					<a href="#tab-3" tabindex="104" class="btn btn-success create-data">Nuevo <i class="fas fa-solid fa-plus icon"></i></a>
					<hr/>
				</div>
			</form>

			<table id="pruebas" data-sort-by="memo" data-sort-dir="desc" data-template="yes">
				<thead>
					<tr>
						<th>Nº</th>
						<th>Nombre<a href="#name" class="sort sort-none"></a></th>
						<th>E-Mail<a href="#email" class="sort sort-none"></a></th>
						<th>Info<a href="#memo" class="sort sort-none"></a></th>
						<th>Importe<a href="#imp" class="sort sort-none"></a></th>
						<th>Fecha<a href="#fecha" class="sort sort-none"></a></th>
						<th>C4</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody id="pruebas-row" class="hide">
					<tr class="tb-data">
						<td class="text-center">@count;</td>
						<td><a href="#find">@name;</a></td>
						<td>@email;</td>
						<td>@memo;</td>
						<td class="textr">@imp;</td>
						<td class="text-center">@fecha;</td>
						<td class="text-center"><input type="text" name="test"/></td>
						<td class="text-center">
							<a href="#find"><i class="fas fa-search icon"></i></a>
							<a href="#remove"><i class="fa fa-times icon text-err"></i></a>
						</td>
					</tr>
				</tbody>
				<tbody class="no-data">
					<tr><td colspan="99"><p>No existen coincidencias a mostrar en la tabla</p></td></tr>
				</tbody>
				<tfoot data-tpl="pruebas-footer">
					<tr><td colspan="4">Filas: @size; / @total;</td><td class="textr">@imp;</td><td colspan="3"></td></tr>
				</tfoot>
			</table>
			<div class="fr ui-group"><input type="range" id="page-size" name="page-size" min="20" max="200" value="60" step="10" /></div>
			<div class="pagination"></div>

			<div class="navbar">
				<a href="#tab-0" class="btn btn-primary"><i class="fas fa-angle-double-left"></i>&nbsp;</a>
				<a href="#prev-tab" class="btn btn-primary"><i class="fas fa-angle-double-left icon"></i>Prev.</a>
				<a href="#tab-3" class="btn btn-success create-data">Nuevo <i class="fas fa-solid fa-plus icon"></i></a>
				<a href="#clear-pruebas" class="btn btn-danger" tabindex="103"><i class="fas fa-solid fa-trash"></i> Borrar</a>
			</div>
		</div>

		<div id="tab-3" class="tab-content">
			<div class="navbar update-only">
				<hr/>
				<a href="#first-item" class="btn btn-primary" tabindex="60"><i class="fas fa-angle-double-left"></i></a>
				<a href="#prev-item" class="btn btn-primary" tabindex="61"><i class="fas fa-angle-left"></i></a>
				<a href="#next-item" class="btn btn-primary" tabindex="62"><i class="fas fa-angle-right"></i></a>
				<a href="#last-item" class="btn btn-primary" tabindex="63"><i class="fas fa-angle-double-right"></i></a>
				<hr/>
			</div>

			<form id="test" action="test" method="post">
			<input type="hidden" id="id" name="id" value="" />

			<div class="navbar">
				<div class="ui-group ui-block">
					<label for="name" class="required">Nombre:</label>
					<input type="text" id="name" name="name" value="" class="ui-item ui-control ui-text" tabindex="1" />
				</div>
				<div class="ui-group ui-block">
					<label for="entidad" class="required">Entidades:</label>
					<select id="entidad" class="ui-item ui-control ui-select" tabindex="2">
						<option value="">Seleccione una entidad ...</option>
						<option id="entidades" value="@key;">@value;</option>
					</select>
				</div>
				<div class="ui-group ui-block">
					<label for="imp" class="required">Importe:</label>
					<input type="text" id="imp" name="imp" value="" class="ui-item ui-control ui-float" tabindex="3" />
					<div class="ui-errtip"></div>
				</div>
				<div class="ui-group ui-block">
					<label for="fecha" class="required">Fecha:</label>
					<input type="date" id="fecha" name="fecha" value="" class="ui-item ui-control ui-date" tabindex="4" />
					<div class="ui-errtip"></div>
				</div>
				<div class="ui-group ui-row"> <!-- check-group checked subgroup by name -->
					<label for="check1" class="inline">check1:</label><input id="check1" type="checkbox" class="check-group-binary ui-check">
					<label for="check2" class="inline">check2:</label><input id="check2" type="checkbox" class="check-group-binary ui-check">
					<label for="check3" class="inline">check3:</label><input id="check3" type="checkbox" class="check-group-binary ui-check">
					<label for="check4" class="inline">check4:</label><input id="check4" type="checkbox" class="check-group-binary ui-check">
					<label for="all-binary" class="inline">All:</label><input id="all-binary" type="checkbox" name="binary" class="check-group ui-check">
				</div>
				<div class="ui-group ui-row">
					<label for="memo" class="required">Memoria:</label>
					<textarea id="memo" name="memo" class="ui-item ui-control ui-ta" tabindex="5"></textarea>
				</div>
			</div>

			<div class="navbar">
				<hr/>
				<a href="#tab-0" class="btn btn-primary" tabindex="100"><i class="fas fa-angle-double-left"></i>&nbsp;</a>
				<a href="#prev-tab" class="btn btn-primary" tabindex="101"><i class="fas fa-angle-double-left icon"></i>Prev.</a>
				<button id="clean" type="reset" class="btn btn-light" tabindex="102"><i class="fas fa-brush icon"></i>Clear</i></button>
				<button id="save" type="submit" class="btn btn-success" tabindex="103"><i class="fas fa-save icon"></i>Save</button>
				<button id="clone" type="button" class="btn btn-success" tabindex="104"><i class="far fa-copy icon"></i></i>Clone</button>
				<a href="#remove-item" class="btn btn-danger update-only" tabindex="105"><i class="fas fa-solid fa-trash"></i> Borrar</a>
			</div>
			</form>
		</div>
	</main>

	<div class="alerts">
		<div class="alert alert-success hide">
			<div class="alert-icon"><i class="fas fa-check-circle fa-3x"></i></div>
			<div class="alert-text">ok!</div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-info hide">
			<div class="alert-icon"><i class="fas fa-info fa-3x"></i></div>
			<div class="alert-text"></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-warn hide">
			<div class="alert-icon"><i class="fas fa-exclamation-triangle fa-3x"></i></div>
			<div class="alert-text">Aviso</div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-danger hide">
			<div class="alert-icon"><i class="fas fa-exclamation fa-3x"></i></div>
			<div class="alert-text">Error</div>
			<div class="alert-close">&times;</div>
		</div>
	</div>
	<div class="loading hide"><b class="fas fa-spinner fa-3x fa-spin loading-content"></b></div>
	<a id="back-to-top" href="#top" class="hide back-to-top"><i class="fas fa-chevron-up"></i></a>
</body>
</html>
