
/* Inputs */
label { font-weight: bold ;}
label.required:after { color: #e32; content: " *"; }

.ui-input { width: 98%; }
.ui-check { margin-left: 6px; margin-right: 10px; }
.ui-integer, .ui-float { width: 10rem/* 160px */; text-align: right; }
.ui-l-icon { position: absolute; top: -2px; bottom: 0; left: 0; height: 42px; }
.ui-r-icon { position: absolute; top: -2px; bottom: 0; right: 0; height: 42px; }
.ui-error { border: 2px solid #dc3545 !important; }
.ui-error:focus { border: 2px solid tomato !important; --tw-ring-opacity: 0 !important; }
.ui-errtip { margin-top: 4px; }
/* Inputs */

/* Alerts */
.alerts { position: fixed; top: 6rem; right: 1em; width: 40%; z-index: 9; }
.alert {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 40px auto 18px;
	margin: 1em;
	padding: 1em;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 6px;
}
.alert-block {
	display: block;
	margin: 1em;
	padding: 1em;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 6px;
}
.alert-close { font-weight: bold; font-size: x-large; text-align: right; cursor: pointer; }
.alert-close:hover { color: #000; }
.alert-primary { color: #004085; background-color: #cce5ff; border-color: #b8daff; }
.alert-secondary { color: #383d41; background-color: #e2e3e5; border-color: #d6d8db; }
.alert-light { color: #818182; background-color: #fefefe; border-color: #fdfdfe; }
.alert-success { color: #155724; background-color: #d4edda; border-color: #c3e6cb; }
.alert-error { color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; }
.alert-danger { color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; }
.alert-warn { color: #212529; background-color: #fff3cd; border-color: #ffeeba; }
.alert-info { color: #0c5460; background-color: #d1ecf1; border-color: #bee5eb; }
.alert-note { color: #0c5460; background-color: #d1ecf1; border-color: #bee5eb; }
.alert-dark { color: #1b1e21; background-color: #d6d8d9; border-color: #c6c8ca; }
/* Alerts */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.ui-lbg, .ui-rbg { padding: 4px; }
	.ui-search, .ui-password, .ui-user, .ui-euro, .ui-email, .ui-profile, .ui-at { background-image: none; }
	.alerts { top: 28px; right: 0; width: 99%; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.alerts { width: 60%; }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.alerts { width: 50%; }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
