
* {
	margin: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
}

.wrapper {
	margin: 1rem;
	padding: 2rem;
	background-color: #e9ecef;
	border-radius: .3rem;
}

/* Cards clases */
.card { border-left: 6px solid #1976D2; }
.card h1 { margin: 1em; color: #1976D2; border-bottom: 1px solid #1976D2; }

/* Specific styles */
.hide, .d-none { display: none; }
.mw-80 { width: 80px; max-width: 80px; }
.mw-120 { width: 120px; max-width: 120px; }
.mw-300 { width: 300px; max-width: 300px; }
.disabled { opacity: 0.5; pointer-events: none; text-decoration: none; }
.simple { background-color: transparent; border-color: transparent; text-decoration: none; color: inherit; }
.simple:hover { text-decoration: none; color: inherit; }
.logo { font-size: large; padding: 3px; }
.icon {  }
.icon:hover { text-shadow: 2px 2px 1px silver; }

/* text modificators */
.text-ok { color: #00cc6a }
.text-info { color: #0069d9 }
.text-warn { color: #e0a800 }
.text-error { color: #d9534f; }
.tr { text-align: right; }
.tl { text-align: left; }
.tc { text-align: center; }
.tj { text-align: justify; }

/* Alerts */
.alerts { position: relative; }
.alert {
	display: none; /* fadeIn/fadeOut => grid*/
	grid-gap: 5px;
	grid-template-columns: 50px auto 10px;
	margin: 1rem;
	padding: .7rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}
.alert-icon > img { max-height: 50px; }
.alert-text {  }
.alert-close { font-weight: bold; text-align: right; cursor: pointer; }
.alert-close:hover { color: #000; }
.alert-primary { color: #004085; background-color: #cce5ff; border-color: #b8daff; }
.alert-secondary { color: #383d41; background-color: #e2e3e5; border-color: #d6d8db; }
.alert-light { color: #818182; background-color: #fefefe; border-color: #fdfdfe; }
.alert-success { color: #155724; background-color: #d4edda; border-color: #c3e6cb; }
.alert-danger { color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; }
.alert-warn { color: #212529; background-color: #fff3cd; border-color: #ffeeba; }
.alert-info { color: #0c5460; background-color: #d1ecf1; border-color: #bee5eb; }
.alert-dark { color: #1b1e21; background-color: #d6d8d9; border-color: #c6c8ca; }
/* Alerts */

.loading { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background-color: rgba(255, 255, 255, .8); display: none; }
.loading-content { position: absolute; top: 50%; left: 50%; text-align: center; z-index: 100; }

.back-to-top { position: fixed; bottom: 25px; right: 25px; display: none; padding: .5rem 1rem; font-size: 1.25rem; border-radius: .3rem; background-color: #f8f9fa; }
.back-to-top:hover { background-color: #e2e6ea; border-color: #dae0e5; }

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.d-pc, .hide-phone, .hide-tablet { display: none; }
	.alert { grid-gap: 5px; grid-template-columns: auto 10px; }
	.alert-icon { display: none; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.d-pc, .hide-phone, .hide-tablet { display: none; }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.d-pc, .hide-tablet, .d-phone { display: none; }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
	.hide-pc, .d-phone { display: none; }
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	.hide-pc, .d-phone { display: none; }
	.alerts { position: fixed; top: 45px; right: 1.1em; width: 45%; z-index: 2; }
}
