
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #161623;
	/*background-color: #161623;*/
}
body::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: linear-gradient(#f00, #f0f);
	clip-path: circle(30% at right 70%);
	z-index: -1;
}
body::after {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: linear-gradient(#2196f3, #e91e63);
	clip-path: circle(20% at 10% 10%);
	z-index: -1;
}

main { display: inline-block; margin: 8px 0; width: 100%; }
hr { margin: 15px 0; border-top: 1px solid #1976d2; }

/* Cards clases */
.card { border-left: 6px solid #1976D2; }
.card h1 { margin: 1em; /*color: #1976D2;*/ border-bottom: 1px solid #1976D2; }

.cards-glass {
	position: relative;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
}
.card-glass, .form-glass {
	position: relative;
	margin: 30px auto; padding: 20px;
	width: 280px; height: 400px;
	/*color: #fff;*/ text-align: center;
	background: rgba(0, 0, 0, .1);
	border-radius: 15px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
	border-top: 1px solid rgba(255, 255, 255, .5);
	border-left: 1px solid rgba(255, 255, 255, .5);
	backdrop-filter: blur(5px);
	overflow: hidden;
}
.form-glass {
	width: 90%; max-width: 900px;
	height: 100%;
}
.card-glass h2, .form-glass h2 {
	margin: 5px auto;
	width: 96%;
}

/* Specific styles */
.hide, .d-none { display: none !important; } /* force display none */
.disabled { opacity: 0.5; pointer-events: none; text-decoration: none; }
.simple { background-color: transparent; border-color: transparent; text-decoration: none; color: inherit; }
.simple:hover { text-decoration: none; color: inherit; }
.text-block { margin: 15px auto; padding: 10px; width: 96%; border-radius: 8px; }
.text-center { text-align: center; }
.text-err { color: red; }
.icon { margin: 1px 4px; }

/* Tabs classes */
.tab-content { display: none; width: 100%; min-height: 70vh; max-height: 90vh; padding: 2px; }
.tab-content.active { display: inherit; }

.loading { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background-color: rgba(255, 255, 255, .7); }
.loading-content { position: absolute; top: 50%; left: 50%; text-align: center; z-index: 100; }

.back-to-top { position: fixed; bottom: 25px; right: 25px; padding: .5rem 1rem; font-size: 1.25rem; border-radius: .3rem; background-color: #f8f9fa; }
.back-to-top:hover { background-color: #e2e6ea; border-color: #dae0e5; }

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.d-pc, .hide-phone, .hide-tablet { display: none !important; }
	.text-block { width: 90%; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.d-pc, .hide-phone, .hide-tablet, .d-phone { display: none !important; }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.d-pc, .hide-tablet, .d-phone { display: none !important; }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
	.hide-pc, .d-phone { display: none !important; }
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	.hide-pc, .d-phone { display: none !important; }
}
