@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #161623;
	/*background-color: #161623;*/
}
body::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: linear-gradient(#f00, #f0f);
	clip-path: circle(30% at right 70%);
	z-index: -1;
}
body::after {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: linear-gradient(#2196f3, #e91e63);
	clip-path: circle(20% at 10% 10%);
	z-index: -1;
}

main { display: inline-block; margin: 8px 0; width: 100%; }
hr { margin: 15px 0; border-top: 1px solid #1976d2; }

/* Specific styles */
.hide, .d-none { display: none !important; } /* force display none */
.disabled { opacity: 0.5; pointer-events: none; text-decoration: none; }
.link { @apply text-blue-600 underline dark:text-blue-500 hover:no-underline }
.action { @apply ml-2 font-bold text-sm text-blue-500 hover:text-blue-800 }
.action-red { @apply ml-2 font-bold text-sm text-red-500 hover:text-red-800 }

/* Cards */
.card { border-left: 6px solid #1976D2; }
.card h1 { margin: 1em; /*color: #1976D2;*/ border-bottom: 1px solid #1976D2; }
.card-glass { @apply py-10 lg:mx-80 lg:px-10 md:mx-40 md:px-4 sm:mx-3 sm:px-1 shadow-lg rounded-xl bg-white bg-clip-padding bg-opacity-50 border border-gray-200 filter blur-lg }
/* Cards */

/* Inputs */
label { @apply font-bold text-sm text-gray-900 dark:text-white }
label.required:after { color: #e32; content: " *"; }

.ui-input {
	@apply w-full border-2 text-sm rounded-lg disabled:opacity-75 outline-none bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-300 focus:border-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-300 dark:focus:border-blue-300
}
.ui-date { width: 10rem/* 160px */; }
.ui-check { margin-left: 6px; margin-right: 10px; }
.ui-integer, .ui-float { width: 10rem/* 160px */; text-align: right; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { margin-left: 0.5em; }
.ui-l-icon { position: absolute; top: 0; bottom: 0; left: 0; height: 40px; }
.ui-r-icon { position: absolute; top: 0; bottom: 0; right: 0; height: 40px; }
.ui-error { border: 2px solid #dc3545 !important; }
.ui-error:focus { border: 2px solid tomato !important; --tw-ring-opacity: 0 !important; }
.ui-errtip { @apply mt-1 text-xs italic text-red-500 }
/* Inputs */

/* Buttons */
.btn { @apply inline-block border font-medium rounded-lg text-sm px-5 py-2 ml-1 focus:ring-4 focus:outline-none }
.btn-primary { @apply text-white bg-blue-700 border-blue-700 hover:bg-blue-800 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 }
.btn-secondary { @apply text-gray-900 bg-white border-gray-300 hover:bg-gray-100 focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 }
.btn-green { @apply text-white bg-green-700 hover:bg-green-800 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 }
.btn-dark { @apply text-white bg-gray-800 hover:bg-gray-900 focus:ring-gray-300 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 }
.btn-danger { @apply text-white bg-red-700 hover:bg-red-800 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 }
/* Buttons */

/* Alerts */
.alerts { position: fixed; top: 6rem; right: 1em; width: 40%; z-index: 9; }
.alert {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 40px auto 18px;
	margin: 1em;
	padding: 1em;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 6px;
}
.alert-block {
	display: block;
	margin: 1em;
	padding: 1em;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 6px;
}
.alert-close { font-weight: bold; font-size: x-large; text-align: right; cursor: pointer; }
.alert-close:hover { color: #000; }
.alert-primary { color: #004085; background-color: #cce5ff; border-color: #b8daff; }
.alert-secondary { color: #383d41; background-color: #e2e3e5; border-color: #d6d8db; }
.alert-light { color: #818182; background-color: #fefefe; border-color: #fdfdfe; }
.alert-success { color: #155724; background-color: #d4edda; border-color: #c3e6cb; }
.alert-error { color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; }
.alert-danger { color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; }
.alert-warn { color: #212529; background-color: #fff3cd; border-color: #ffeeba; }
.alert-info { color: #0c5460; background-color: #d1ecf1; border-color: #bee5eb; }
.alert-note { color: #0c5460; background-color: #d1ecf1; border-color: #bee5eb; }
.alert-dark { color: #1b1e21; background-color: #d6d8d9; border-color: #c6c8ca; }
/* Alerts */

/* Tabs classes */
.tab-content { display: none; width: 100%; min-height: 70vh; max-height: 90vh; padding: 2px; }
.tab-content.active { display: inherit; }

.loading { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background-color: rgba(255, 255, 255, .7); }
.loading-content { position: absolute; top: 50%; left: 50%; text-align: center; z-index: 100; }

.back-to-top { position: fixed; bottom: 25px; right: 25px; padding: .5rem 1rem; font-size: 1.25rem; border-radius: .3rem; background-color: #f8f9fa; }
.back-to-top:hover { background-color: #e2e6ea; border-color: #dae0e5; }

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.d-pc, .hide-phone, .hide-tablet { display: none !important; }
	.text-block { width: 90%; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.d-pc, .hide-phone, .hide-tablet, .d-phone { display: none !important; }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.d-pc, .hide-tablet, .d-phone { display: none !important; }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
	.hide-pc, .d-phone { display: none !important; }
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	.hide-pc, .d-phone { display: none !important; }
}
