
table { margin: 20px auto; width:96%; border-collapse: collapse; opacity: .9; }
thead { border-bottom: 1px dashed; @apply border-black dark:border-white }
tfoot { font-weight: bold; border-top: 1px dashed; @apply border-black dark:border-white }
tfoot td { padding-top: 3px; }

tbody.no-data td { padding: 1rem; text-align: center; }
tr.tb-data:nth-child(odd) { @apply bg-gray-50 dark:bg-gray-700 }
tr.tb-data:nth-child(even) { @apply bg-gray-200 dark:bg-gray-800 }
tr.tb-data:hover { @apply bg-gray-300 dark:bg-gray-600 }

.sort {
	display: inline-block;
	margin-left: 5px;
	width: 40px;
	font-size: x-large;
	text-decoration: none;
}
.sort-none:after { content: "\25B4\25BE"; }
.sort-desc:after { content: "\25BE"; }
.sort-asc:after { content: "\25B4"; }

/* Pagination classes */
.pagination { margin: 10px; padding: 16px; }
.pagination a, .pagination .active {
	color: black;
	margin: 0 4px;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.pagination .active {
	color: white;
	background-color: #4CAF50;
	border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}
