
<footer>
	<div>
		<p>Copyright &#169; @yyyy; @lblEmpresaNombre;. All rights reserved.</p>
	</div>

	<div class="text-center loading hide">
		<div class="spinner-border text-info loading-content"><span class="sr-only">Loading...</span></div>
	</div>
	<a id="back-to-top" href="#top" class="hide back-to-top">
		<i class="fas fa-chevron-up"></i>
	</a>
</footer>
