
<hr/>
<a href="<%=prevname%>/index.html" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
<a href="<%=basename%>/view.html" class="btn btn-success"><%=i18n.lblAdd%> <i class="fas fa-plus"></i></a>
