
<div>
	<p>Textos de prueba + tabla de ejemplo</p>
	<table>
		<thead><tr><th>head</th></tr></thead>
		<tbody><tr><td>ci</td></tr></tbody>
		<tfoot><tr><td>f1</td></tr></tfoot>
	</table>
	<hr/>
	<p>bye!</p>
</div>
