
<div class="jumbotron m-4">
	<h5><%=i18n.lblFormContact%></h5>
	<hr class="my-4"/>

	<form id="contact" action="/contact.html" method="post" class="ajax">
		<div class="input-group">
			<label for="nombre" class="required">Name:</label>
			<input type="text" id="nombre" name="nombre" value="" size="20" maxlength="200" class="input-item input-control" tabindex="1" title="User name" placeholder="Joe" />
			<i class="input-item input-icon fas fa-signature"></i>
			<span class="msg-error"><%=msgs.getMsg("nombre")%></span>
		</div>

		<div class="input-group">
			<label for="correo" class="required">E-Mail</label>
			<input type="text" id="correo" name="correo" value="" size="40" maxlength="200" tabindex="2" class="input-item input-control clearable" title="Type your email" placeholder="xxxx@yyyy.com" />
			<i class="input-item input-icon far fa-envelope"></i>
			<div class="msg-error"><%=msgs.getMsg("correo")%></div>
		</div>

		<div class="input-group">
			<label for="asunto" class="required">Subject:</label>
			<input type="text" id="asunto" name="asunto" value="" size="40" maxlength="200" class="input-item input-control" tabindex="7" placeholder="Type a resume" />
			<span class="msg-error"><%=msgs.getMsg("asunto")%></span>
		</div>

		<div class="input-group">
			<label for="info" class="required">Informacion:</label>
			<textarea id="info" name="info" class="input-item input-control" tabindex="8" cols="62" rows="6" maxlength="600"></textarea>
			<span class="msg-error"></span>
			<p>Nº de caracteres restantes = <span id="counter-info">600</span></p>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary ajax-submit" tabindex="100" title="@titAcceder;">@lblEnviar; &raquo;</button>
		<button type="reset" class="btn btn-light ml-2" tabindex="101" title="@titRestaurar;">&olarr; @lblLimpiar;</button>
		<!-- Example single danger button -->
		<div class="btn-group ml-2">
			<button type="button" class="btn btn-danger dropdown-toggle" tabindex="102" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			</div>
		</div>
		<button href="contact.html?number=14,63" class="ajax btn btn-success ml-2" tabindex="103">Ajax Send &raquo;</button>
	</form>
</div>
