
<div class="jumbotron m-4">
	<h5>reCAPTCHA v3 Demo</h5>
	<hr class="my-4"/>

	<form id="reactive" method="post" action="/user/reactive.html" class="ajax">
		<div class="input-group">
			<label for="correo" class="required">E-Mail</label>
			<input type="text" id="correo" name="correo" value="" size="40" maxlength="200" tabindex="2" 
				class="input-item input-control clearable" title="Type your email" placeholder="xxxx@yyyy.com" />
			<i class="input-item input-icon far fa-envelope"></i>
			<div class="msg-error"><%=msgs.getMsg("correo")%></div>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary captcha" tabindex="100"><%=i18n.lblEnviar%> <i class="far fa-paper-plane"></i></button>
	</form>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LeDFNMZAAAAAKssrm7yGbifVaQiy1jwfN8zECZZ"></script>
