
@media print {
	@page {
		size: A4 portrait;
		margin: 2cm;
	}
	@page {
		@top-left {
			background: #fbc847;
			content: counter(page);
			height: 1cm;
			text-align: center;
			width: 1cm;
		}
		@top-center {
			background: #fbc847;
			content: '';
			display: block;
			height: .05cm;
			opacity: .5;
			width: 100%;
		}
		@top-right {
			content: string(heading);
			font-size: 9pt;
			height: 1cm;
			vertical-align: middle;
			width: 100%;
		}

		@bottom-left {
			/*counter-increment: page;*/
			content: "Page " counter(page);
		}
	}
	@page:first {
		counter-increment: page;
		margin-top: 8cm;
	}
	@page:blank {
		@top-left { background: none; content: '' }
		@top-center { content: none }
		@top-right { content: none }
	}

	* { color: #000; background-color: #fff; box-shadow: none; text-shadow: none; }
	input, select, textarea { border: 0; border-style: none; } /* remove inputs borders */

	::-webkit-calendar-picker-indicator{ display: none; } /* Calendar/time icon */
	::-webkit-input-placeholder { color: transparent; } /* WebKit browsers */
	:-moz-placeholder { color: transparent; } /* Mozilla Firefox 4 to 18 */
	::-moz-placeholder { color: transparent; } /* Mozilla Firefox 19+ */
	:-ms-input-placeholder { color: transparent; } /* Internet Explorer 10+ */

	a:after { content: " ("attr(href)")"; } /* add href text affter links */
	.only-print { display: block; }
	.block { page-break-inside: avoid; }
	.break { page-break-after: always; }

	/* Hide elements  */
	.no-print, div.alerts, a.btn { display: none; }
	ul.menu, ul.menu-phone, ul#progressbar { display: none; }

	/* Specific elements  */
	.card-glass { box-shadow: none; page-break-inside: avoid; }
}
