
<div class="wrapper">
	<h1>Users</h1>
	<hr/>

	<form>
		filtros.....

		<hr/>
		<a href="/menu/list.html" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101"><%=i18n.lblAdd%> <i class="fas fa-plus"></i></button>
		<button type="reset" class="btn btn-light" tabindex="102">&olarr; <%=i18n.lblLimpiar%></button>
	</form>
</div>

<div class="wrapper">
	<hr/>
	<a href="/menu/list.html" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
</div>
