
<div class="jumbotron m-4">
	<div>
		<h1>Files form</h1>
		<hr/>

		<form id="files" action="/tests/files.html" method="post" enctype="multipart/form-data" class="ajax">
			<div class="input-group">
				<label for="nombre" class="required">Name:</label>
				<input type="text" id="nombre" name="nombre" value="" size="20" maxlength="200" class="input-item input-control " tabindex="1" title="User name" placeholder="Joe" />
				<i class="input-item input-icon fas fa-signature"></i>
				<span class="msg-error"><%=msgs.getError("nombre")%></span>
			</div>

			<div class="input-group">
				<label for="correo" class="required">Adjunto</label>
				<input type="file" id="sampleFile" name="sampleFile" multiple="multiple" />
				<div class="msg-error"><%=msgs.getError("adjunto")%></div>
			</div>

			<hr/>
			<button type="submit" class="btn btn-primary" tabindex="100">Send &raquo;</button>
			<button type="reset" class="btn btn-light ml-2" tabindex="101">&olarr; Clear</button>
		</form>
	</div>
</div>
