
<div class="wrapper">
	<div>
		<h1><%=i18n.lblBienvenido%></h1>
		<hr/>

		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/user/perfil.html">Profile</a></li>
			<li><a href="/user/pass.html">Password</a></li>
			<li><a href="/logout.html">Logout</a></li>
		</ul>
	</div>
</div>
