
<div class="inline-block m-2">
    <label for="<%=id%>" class="block mb-1 text-sm text-gray-900 dark:text-white">Fecha:</label>
    <input type="date" id="<%=id%>" name="<%=name%>" maxlength="10" tabindex="<%=tabindex%>" 
        class="ui-date bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-300 focus:border-blue-300 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-300 dark:focus:border-blue-300">
    <p class="ui-errtip text-red-500 text-xs italic"></p>
</div>
