
<a href="<%=enlace%>" title="<%=titulo%>"
    class="flex flex-col items-center w-48 m-4 p-4 border rounded-lg shadow bg-white border-gray-200 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <img src="/public/img/png/<%=icono%>"/>
    <p class="mt-2 text-center font-normal text-gray-700 dark:text-gray-400"><%=nombre%></p>
</a>
